<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Content/bootstrap.min.css">
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<title>AngularJS Web - ngClass</title>
	<style>
		.strike {
			text-decoration: line-through;
		}
		.bold {
			font-weight: bold;
		}
		.red {
			color: red;
		}
		
	</style>
</head>
<body>
	<div class="container" ng-app>
		<div class="row">
			<div class="col-sm-12 col-md-6"> 
				<p ng-class="{'strike':deleted, 'bold':important, 'text-danger':error}" >根據使用者勾選下面的checkbox，來套用不同的樣式。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<input type="checkbox" ng-model="deleted">deleted<br>
				<input type="checkbox" ng-model="important">important<br>
				<input type="checkbox" ng-model="error">error<br>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p ng-class="style">根據使用者不同的輸入，來套用不同的樣式。</p>
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<input type="text" class="form-control" ng-model="style" placeholder="請輸入: bold strike red" aria-label="請輸入: bold, strike or red">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p ng-class="[style1, style2, style3]">根據使用者不同的輸入，來套用不同的樣式。(陣列)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<input type="text" class="form-control" ng-model="style1" placeholder="請輸入: bold, strike 或 red" aria-label="請輸入: bold, strike 或 red"><br>
				<input type="text" class="form-control" ng-model="style2" placeholder="請輸入: bold, strike 或 red" aria-label="請輸入: bold, strike 或 red"><br>
				<input type="text" class="form-control" ng-model="style3" placeholder="請輸入: bold, strike 或 red" aria-label="請輸入: bold, strike 或 red">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p ng-class="[style4, {'text-warning':warning}]">根據使用者不同的輸入，來套用不同的樣式。(陣列+Map)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<input type="text" class="form-control" ng-model="style4" placeholder="請輸入: bold, strike" aria-label="請輸入: bold, strike">
				<input type="checkbox" ng-model="warning">warning<br>
			</div>
		</div>
	</div>
	<script src="Scripts/angular.min.js"></script>
	<script>
		
	</script>
</body>
</html>